/* custom.css */

.logo_img{
	max-width: 100px;
	max-height: 80px;
	display: inline;
}

.logo_nav{
	display: inline;
	color: gold;
}

a.logo_nav:hover {
	text-decoration: none;
	color: gold;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: gold;
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: gold;
}

.footer a:hover{
	color: white;
	font-weight: bold;
}

/* Adds a sublt box shadow to any block element */
.box-shadow{
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05)
}

.game-banner{
	min-height: 300px;
}

#modern-warfare{
	background-image: url('../images/modern-warfare.jpeg');
}

#red-dead-redemption-2{
	background-image: url('../images/red-dead-redemption.jpg');
	background-size: cover;
}

#death-stranding{
	background-image: url('../images/death-stranding.jpg');
}

.game-text-overlay{
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.75) 55%, rgba(0,0,0,0) 100%);;
	color: white;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
}

.form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading{
	margin: 30px 60px;
}


.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
@include box-sizing(border-box);
}

/*focus {
	 z-index: 2;
 }*/


input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

