
.DS_Store
.idea/misc.xml
.idea/cgt356fall19project1.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.iml
*.xml
Project2/Project2/Project2.vcxproj.user
Project2/Project2/Project2.vcxproj.filters
Project2/Project2/Project2.vcxproj
Project2/Project2.sln
Project2/.vs/Project2/v16/Browse.VC.opendb
Project2/.vs/Project2/v16/Browse.VC.db
.vs/slnx.sqlite
.vs/ProjectSettings.json
images/kai.png
